<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>

    <title>Приложение для заметок</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="app">
        <div class="column" v-for="(column, index) in columns" :key="index">
            <div class="card" v-for="(card, cardIndex) in column" :key="cardIndex">
                <h2>{{ card.title }}</h2>
                <ul>
                    <li v-for="(item, itemIndex) in card.items" :key="itemIndex">
                        <input type="checkbox" v-model="item.done">
                        <span>{{ item.text }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>