<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>

    <title>Приложение для заметок</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="app"> 
        <div v-for="column in columns" :key="column.id" class="column"> 
            <div v-for="note in column.notes" :key="note.id" class="note"> 
                <h2>{{ note.title }}</h2> 
                <p>{{ note.content }}</p>
                <ul>
                    <li v-for="(item, index) in note.items" :key="index">
                        <input type="checkbox" v-model="item.done" @change="checkProgress(note, column)" :disabled="column.id === 1 && isFirstColumnBlocked">
                        <input v-model="item.title" placeholder="Редактировать название элемента" :disabled="column.id === 1 && isFirstColumnBlocked"> 
                    </li>
                </ul>
                <p v-if="note.completedAt">Completed at: {{ note.completedAt }}</p>
            </div> 
            <input v-model="newNoteTitle" placeholder="New note title" v-if="column.id === 1 && !isFirstColumnBlocked">
            <input v-model="newItemText" placeholder="New item text" v-if="column.id === 1 && !isFirstColumnBlocked"> 
            <button v-if="column.id === 1 && (!column.maxCards || column.notes.length < column.maxCards) && !isFirstColumnBlocked" @click="addNote(column.id)">
                Добавить заметку
            </button>
            <button @click="addItem(column.id)"  
                    v-if="column.id === 1 && (!column.maxCards || column.notes.length < column.maxCards) && !isFirstColumnBlocked"> 
                Add Item 
            </button> 
        </div> 
    </div>
    
</body>
</html>
